{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% extends 'BtnNodeBundle::layout.html.twig' %}

{% block sidebar %}
    {{ render(controller('BtnNodeBundle:NodeControl:tree', {'id': entity.id})) }}
{% endblock %}

{% block main %}

    {{ form(form, {fieldset: true, legend: 'btn_node.node.select_content_for'|trans({'%name%': entity.name}) }) }}

    <div class="btn-group">
            {{ lnk.back('btn_node_nodecontrol_edit', {id: entity.id}) }}
{#         <button class="btn btn-update btn-success">{{ 'btn_admin.update'|trans }}</button> #}
    </div>


{% endblock %}
