<div id="tree" class="top-offset" bind-jstree data-change-jstree="reload">
    <ul>
        {% for node in topNodes %}
            {% include 'BtnNodeBundle:NodeControl:_tree.html.twig' %}
        {% endfor %}
    </ul>
</div>
<div class="top-offset">
    <a href="{{ url('cp_add_node') }}" class="btn btn-primary btn-sm">{% trans %}node.create_new_menu{% endtrans %}</a>
</div>
