{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% extends 'BtnNodeBundle::layout.html.twig' %}

{% block main %}
    <h2 class="btn-admin-list-header">{% trans %}btn_node.website_structure{% endtrans %}</h2>
    {% for array in nodes %}
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="btn-admin-column-id">{% trans %}btn_admin.id{% endtrans %}</th>
                    <th>{% trans %}btn_admin.title{% endtrans %}</th>
                    <th class="btn-admin-column-action btn-admin-column-action-md">{% trans %}btn_admin.actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for node in array %}
                    <tr>
                        <td class="btn-admin-column-id">{{ node.id }}</td>
                        <td>
                        {% for i in range(0, node.lvl) if node.lvl > 0 %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        {{ node.title }}
                        </td>
                        <td class="btn-admin-column-action">
                            {{ lnk.add('btn_node_nodecontrol_new', {parent: node.id}) }}
                            {% if node.isRoot and is_granted('ROLE_NODE_ROOT_MANAGEMENT') or not node.isRoot %}
                                {{ lnk.edit('btn_node_nodecontrol_edit', {id: node.id}) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
